// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #114b5f;
$yellow: #FDB631;
$orange: #E6724A;
$green: #1A926E;
$black: #000000;
$gray: #000000;
$light-gray: #fffbf2;
$cream: #FFF7E4;
$os-green: #1A926E;
$light-green: #88d498;
$lightest-green: #c6dabf;
