.box-profile-header {
  margin: 20px;
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

div.user_ability {
  display: flex;
  justify-content: center;
}
#user_ability {
  text-align: center;
  width: 150px;
}
.box-profile-content {
  padding: 20px;
  box-shadow: 0px 0px 3px 0px #6FCF97;
  border-radius: 5px;
}

#bio-text {
  &:hover {
    box-shadow: 0px 0px 3px 0px #6FCF97;
  }
}
.review-box {
  // border-radius: 5px;
  // box-shadow: 0px 0px 3px 0px #6FCF97;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #6FCF97;
  // width: 60%;
  // position: relative;
}

// .review-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   &:hover {
//     background-color: #6FCF97;
//     opacity: 0.3;
//   }
// }

div.user_photo {
  display: flex;
  justify-content: center;
}
#user_photo {
  text-align: center;
}

.users-reviews-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.profile-content-container {
  margin-bottom: 30px;
}
