<div id="bio-form">
  <%= simple_form_for user, remote: true do |f| %>
    <div id="formTarget" class="hidden">
      <%= f.input :bio %>
      <%= f.button :submit %>
      <i id="cancel-bio-update" class="far fa-times-circle fa-lg hidden edit-button"></i>
    </div>
  <% end %>
</div>
