<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/oscapesuk/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/oscapesuk/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/oscapes" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <%= image_tag "mini_logo.jpg", height: 50 %>
</div>
