<div class="container full-height">
  <div class="bookmark-header">
    <h2>Your saved hikes</h2>
  </div>

  <% if @user.favourites == [] %>
    <p>You have no saved hikes</p>
  <% else %>
    <% @user.favourites.each do |favourite| %>
      <div class="favourite-block">
        <% route = Route.find(favourite.route_id) %>
        <%= image_tag "#{route.hero_image}" %>
        <div class="favourite-route-details">
          <h3><%= route.name %></h3>
          <p><%= route.description.truncate(400, separator: /\s/) %></p>
        </div>
      <div class="route-end-block">
<!--           <div class="rating">
            <p>Rating</p>
            <% 4.times do %>
              <i class="glyphicon glyphicon-star"></i>
            <% end %>
          </div> -->
        <div class="ratings-block">
          <% if route.reviews == [] %>
            <p>No reviews yet</p>
          <% else %>
            <% ratings = [] %>
            <% route.reviews.each do |review| %>
              <% ratings << review.rating %>
            <% end %>
            <% average_rating = "%.1f" % ratings.reduce(:+).fdiv(ratings.length) %>
            <% average_rating.to_i.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - average_rating.to_i).times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
        </div>
          <%= link_to route_path(route) do %>
            <div class="btn btn-success">
              View Hike
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
