#filter-bar {
  // position: fixed;
  // z-index: 2;
  padding: 20px;
  background: white;
  width: 100%;
  box-shadow: 0 3px 2px -2px $lightest-green;
  .btn {
    width: 100px;
    margin: 10px;
  }
  .form-group {
    margin: 10px;
  }
}
