.hero-image {
  height: 30vh;
  background-size: cover;
  background-position: center;
  text-align: left;
}

.hero-content {
  padding-top: 10vh;
  h1 {
    margin: 0 0 20px 0;
    color: white;
    text-shadow: 1px 1px 20px rgba(0,0,0,0.5);
  }

  a {
    color: $green;
  }
  a:hover {
    color: $lightest-green;
  }

}

.save-button {
  display: inline;
  padding: 8px 16px;
  background: $light-gray;
  width: 60px;
  border-radius: 2px;
  p {
    display: inline;
    margin-left: 6px;
  }
}
