#map {
  height: calc(100vh - 70px);
  padding: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-container {
  display: flex;
  align-items: center;
}
/* The page is split between map and sidebar - the sidebar gets 1/3, map
gets 2/3 of the page. You can adjust this to your personal liking. */
.sidebar {
  width: 60%;
  height: calc(100vh - 70px);
  top: 0;
  left: 0;
  overflow: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.map {
  border-left: 1px solid #fff;
  position: absolute;
  // left: 60%;
  width: 40%;
  top: 0;
  bottom: 0;
}
.pad2 {
  padding: 20px;
  box-sizing: border-box;
}
.listings {
  display: flex;
  align-items: center;
  border-bottom: 3px solid rgba(220,224,244,0.4);
  height: 200px;
  position: relative;
}
.route-name {
  position: absolute;
  top: 10px;
  left: 220px;
}
.card-bookmark {
  position: absolute;
  top: 20px;
  right: 20px;
}
.route-details {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 200px;
  width: 4  00px;
  justify-content: space-between;
}
.route-attribute {
  padding: 10px;
  display: flex;
}
.route-creator {
  position: absolute;
  bottom: 17.5px;
  right: 30px;
}
.square-image {
  height: 200px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
  margin-right: 10px;
}
