.favourite-block {
  display: flex;
  width: 100%;
  background: white;
  justify-content: space-between;
  padding: 0 20px 0 0;
  img {
    width: 300px;
    height: 300px;
  }
  margin: 20px 0px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.favourite-route-details {
  flex: 1 0 300px;
  padding: 0 20px 20px 20px;
  height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  p {
    margin-top: 20px;
    width: 100%;
  }
}

.route-end-block {
  flex: 0 0 200px;
  padding: 20px;
  position: relative;
  .btn {
    position: absolute;
    bottom: 20px;
    right: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
}

.ratings-block {
  text-align: center;
}

