<div class="wrapper">
  <div class="container">
    <form action="#">
      <input type="text" class="form-control" placeholder="Search by location, difficulty, ascent...">
    </form>
    <h1 class="text-center">(search result query name goes here)</h1>
    <div class="row">
      <% @routes.each do |route| %>
        <%= link_to route_path(route) do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: url('<%= route.hero_image %>')">
              <div class="card-hover">
                <div class="card-content">
                  <h2><%= route.name %></h2>
                  <p>50km | 3 Days</p>
                  <p>Easy | 1km Ascent</p>
                  <p>
                  <% 4.times do %>
                    <i class="glyphicon glyphicon-star"></i>
                  <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
