<div class="map-container">
  <div class='sidebar pad2'>Listings...</div>
  <div id='map' class='map pad2'></div>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYXBodWdoZXMiLCJhIjoiY2l6ZHgzaDdqMDA1MzJxa3lqeWF1MG55NSJ9.AhGg6Tqppzg2eurwaNl75w';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/outdoors-v10',
    center: [-77.034084, 38.909671],
    zoom: 10
  });
</script>

