<div class="wrapper">
  <div class="container">
    <form action="#">
      <input type="text" class="form-control" placeholder="Search by location, difficulty, ascent...">
    </form>
    <h1 class="text-center">(search result query name goes here)</h1>
    <div class="row">
      <% 9.times do %>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <%= link_to "#" do %>
            <div class="card" style="background-image: url('https://images.unsplash.com/photo-1465188035480-cf3a60801ea5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bc6eba58d956061ad309ba54c57c17e&auto=format&fit=crop&w=2600&q=80')">
              <div class="card-hover">
                <h2>Yosemite</h2>
                <p>50km | 3 Days</p>
                <p>Easy | 1km Ascent</p>
                <p>
                <% 4.times do %>
                  <i class="glyphicon glyphicon-star"></i>
                <% end %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
